.wrapper .channel-bar{
    position: absolute;
    height: 98vh;
    width: 35%;
    margin-left: 75px;
    color: white;
    background-color:#2E3136;
    border-radius: 5px 0px 0px 0px;

}
.server-title{

    font-size: 18px;
    padding: 10px;
    border-bottom: 2px solid rgb(39, 39, 39);
}
.channel-links-lis{
    color: #72767D;
    padding: 10px;
    cursor: pointer;
}
.channel-links{
    color: #72767D;
    font-weight: 500;
    font-size: 17px;
}
.channel-links-lis:hover {
    background-color: #393C43;
    border-radius: 10px;
    width: 240px;
    
}
.channel-links:hover{
    color: white;
}
.channel-create-li{
    cursor: pointer;
    padding: 10px;
}
.channel-create-li:hover{
    background-color: #393C43;
    border-radius: 10px;
    width: 240px;
}
.channel-links-container{
    padding-left: 5px;
    padding-top: 10px;
}
.channel-bar .invite-code{
    padding-left: 11px;
    padding-top: 15px;
}
.channel-create-box{
    padding-left: 0px;
    padding-top: 10px;
}
.homelink{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.logoutlink{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.channel-header{
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px solid rgb(39, 39, 39);
}
.user-toolbar-buttons{
    margin-left: 77px;
    margin-top: 0px;
}
.logout-button-container{
    height: 35px;
    width: 37px;
    i{
        position: relative;
        top: 15%;
        left: 20%;
        color: gray;
        font-size: 25px;
    }
}

.logout-button-container:hover{
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    border-radius: 3px;
    i{
       color: red; 
    }  
}


/* logo.logout-button-container text */
.logout-button-container .toolbar-text {
  visibility: hidden;
  width: 90px;
  bottom: 90%;
  left: 70%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
font-weight: 900;
  /* Position the logo.logout-button-container text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the logo.logout-button-container text when you mouse over the logo.logout-button-container container */
.logout-button-container:hover .toolbar-text {
  visibility: visible;
}