
.wrapper .messages-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 23px;
    margin-left: 250px;
    text-align: left;
    color: white;
    background-color:#36393F;
    padding: 0px 0;
    display: flex;
    overflow: none;
    z-index: 1;
}
.messages-bar{
  width: 68%;
}
.message-list {
  overflow-y: scroll;
  height: 83%;
  width: 100%;
  outline: none;
}
.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
.message{
  display: flex;
  padding: 10px 20px;
  img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 14px;
  }
  
  .whole-message{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    .message-author-date{
      display: flex;
      align-items: center;
    }
    h3{
      margin-right: 10px;
      font-weight: 600;
    }
    p{
      font-size: 13px;
      color: gray;
    }
  }
  &:hover{
    background-color: #2F3136;
  }
}
.message-submit-form{
  height: 60px;
  padding: 10px;
  padding-top: 0px;
  .message-form-2{
    display: flex;
    height: 50px;
    background-color: #40444B;
    width: 95%;
    margin: 0 auto;
    margin-left: 12px;
    border-radius: 5px;
    margin-top: 25px;
    input{
      width: 95%;
      margin: 0 auto;
      font-size: 1.2em;
      padding: 10px;
      background-color: #40444B;
      &:focus{
        outline: none;
      }
      color: white;
      border-bottom: 0px;
      border: none;
      font-weight: 500;
    }
    
  }
}
.message-list::-webkit-scrollbar {
  width: 10px;
}
 
.message-list::-webkit-scrollbar-track {

  background: #2E3136;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 10px;
}
 
.message-list::-webkit-scrollbar-thumb {
  background-color: #202225;
  outline: 1px solid #202225;
  border-radius: 10px;
}
.channel-welcome{
  font-weight: 900;
  font-size: 30px;
  margin-left: 15px;
}
.channel-start{
  margin-left: 15px;
  margin-top: 10px;
}
.message-list-header{

  padding-bottom: 10px;
}
.message-list-header:after{
  content: "";
  display: block;
  margin: 0 auto;
  width: 99%;
  padding-top: 20px;
  border-bottom: 1px solid gray;
}

.members-bar-header{
  font-size: 18px;
  padding: 10px 15px 10px 10px;
  border-bottom: 2px solid rgb(39, 39, 39);
}
.member-bar-li{
  display: flex;
  padding: 10px 10px;
  line-height: 20px;
  cursor: pointer;
  img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 14px;
  }
  .member-bar-content{
    p{
      color: gray;
      font-weight: 600;
      font-size: 14px;
    }
  }
  h3{
    display: flex;
    align-items: center;
    font-weight: 600;
  }
}
.member-bar-li:hover{
  background-color: #4d5058;
  border-radius: 5px;
}
