.create-server-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    border-radius: 5px;
}
.join-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border: none;
    border-radius: 5px;
}
.create-header{
    display: flex;
    justify-content: center;
    color: #7289DA;
    font-weight: 900;
    font-size: 20px;
    
}

.join-header{
    display: flex;
    justify-content: center;
    color: #43B581;
    font-weight: 900;
    font-size: 20px;
}
.create-server-submit-bar{
    background-color: rgb(197, 197, 197);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.server-submit-button{
    background-color:#7289DA;
    color: white;
    width: 143px;
    font-size: 15px;
    height: 100%;
    border-radius: 3px;
    padding: 10px;
    border: none;
    font-weight: 600;
}
.server-submit-button:focus{
    outline: none;
}
.server-submit-button:hover{
    background-color: #637cd4;
    cursor: pointer;
}
.server-join-button{
    background-color:#43B581;
    color: white;
    width: 143px;
    font-size: 15px;
    height: 100%;
    border-radius: 3px;
    padding: 10px;
    border: none;
    font-weight: 600;
}
.server-join-button:focus{
    outline: none;
}
.server-join-button:hover{
    background-color: #43b582b4;
    cursor: pointer;
}
.back-button{
    margin-top: 10px;
    
    font-weight: 700;
    cursor: pointer;
}
.join-message{
    text-align: center;
    color: #747F8D;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 50px;
}
.server-name{
    color: black;
    font-weight: 600;
    font-size: 11px;
    font-weight: bold;
    margin-top: 50px;
}
.server-name-box{
    font-size: 1.5em;
    height: 50px;
    width: 100%;
    padding: 15px;
    border: 1.5px solid #7289DA;
    border-radius: 5px;
    margin-top: 5px;
}
.server-join-box{
    font-size: 1.5em;
    height: 50px;
    width: 100%;
    padding: 15px;
    border: 1.5px solid #43B581;
    border-radius: 5px;
    margin-top: 8px;
}
.create-server-header{
    padding: 30px;
}
.server-form-filler{
    font-size: 15px;
    color: gray;
}
.join-code-prompt{
    font-size: 15px;
    color: gray;
    display: flex;
    justify-content: center;
}