* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    // font-family: ;
}
// body {
//     background: ;
// }
.wrapper {
    
  position: relative;
  background-color:#36393F;
  width: 1000px;

}
.wrapper .sidebar {
    position: absolute;
    width: 75px;
    height: 100vh;
    // background: ;
    padding: 10px 0;
    background-color: #202225;
    color: white;
    //overflow-y: scroll;
}
.wrapper .sidebar::-webkit-scrollbar {
  //display: none;
}

.wrapper .sidebar ul li{
    padding: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    background-color: #36393F;
     border-radius: 50%;
    position: relative;
    text-align: center;
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 55px;
    cursor: pointer;
 }

.wrapper .sidebar ul li:hover {
    background-color: #7289DA;
    border-radius: 35%;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  top: 13px;
  left: 105%;
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-left: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.new-server-link{
    font-size: 50px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  text-align-last: inherit;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  margin: auto;
  background: #2F3136;
}
.add-server-button{
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
}
.server-link{
  color: white;
}
html {
  background-color:#202225;
}
.top-bar{
  background-color: #202225;
  width: 1000px;
  height: 23px;
}
.discord-logo{
  padding-left: 8px;
  margin-top: 10px;
  color: gray;
  font-weight: 900;
}
.create-server-modal:focus{
  outline: none;
  border: none;
}
.join-modal:focus{
  outline: none;
  border: none;
}
.server-name-box:focus{
  outline: none;

}
.homelink{
  width: 55px;
  height: 55px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 55px;
}
.homelink:hover {
  border-radius: 35%;
}
.user-toolbar{
  display: flex;
  background-color: #292B2F;
  margin-top: 195%;
  padding: 10px;
  img{
    width: 40px;
    height: 40px;
  }
  :nth-child(2){
    margin-top: 4px;
    :first-child{
      font-weight: 900;
    }
  }
}